/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*--header--*/
h1,h2,h3,h4,h5,h6{
	font-family: 'Lato', sans-serif;
}
body p{
	font-family: 'Lato', sans-serif;
}
	
ul ,ol {
	 padding:0;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
}
/* -- header --*/
.header{
    background: url(../images/background-xy-Array.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 700px;
	position:relative;
}
/*-- top-nav --*/
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #fccb0c;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.navbar-default {
    background: none;
    border: none;
    margin: 0;
    min-height: inherit;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #99abd5;
   background:none!important;
}
.navbar-nav > li {
   margin: 0 0.5em;
}
.navbar-default .navbar-nav > li > a {
    color: #fff !important;
	font-size: 1.2em;
	padding: 1.8em 1em;
    position: relative;
	font-weight: 300;
	text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,.navbar-default .navbar-nav li a.active {
    color: #fccb0c !important;
	background:none!important;
}
.navbar-right {
    float: left!important;
    margin-right:0px!important;
}
.navbar-collapse {
    padding: 0!important;
}
.top-nav {
    position: absolute;
    left: 4%;
    width: 70%;
    bottom: 1%;
}
/*-- //top-nav --*/

/*-- Slider --*/
#slider {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0 auto;
}
.rslides_tabs {
	list-style: none;
	padding: 0;
	background: rgba(0,0,0,.25);
	box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
	-moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
	font-size: 18px;
	list-style: none;
	margin: 0 auto 50px;
	max-width: 540px;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}
.rslides_tabs li {
	display: inline;
	float: none;
	margin-right: 1px;
}
.rslides_tabs a {
	width: auto;
	line-height: 20px;
	padding: 9px 20px;
	height: auto;
	background: transparent;
	display: inline;
}
.rslides_tabs li:first-child {
	margin-left: 0;
}
.rslides_tabs .rslides_here a {
	background: rgba(255,255,255,.1);
	color: #fff;
	font-weight: bold;
}
.events {
	list-style: none;
}
.callbacks {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.callbacks li {
	position: absolute;
	left: 0;
	top: 0;
}
.callbacks p{
	position: relative;
	z-index: 1;
	height: auto;
	border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 50%;
    left: 66px;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 67px;
    width: 56px;
    background: url("../images/left.png") no-repeat 0px 0px;
}
.callbacks_nav.next {
  left: auto;
  background: url("../images/right.png") no-repeat 0px 0px;
  right: 49px;
 }
.callbacks_nav:active {
	opacity: 1.0;
}
.callbacks2_nav:active {
	opacity: 1.0;
}
#slider-pager a {
	display: inline-block;
}
#slider-pager span {
	float: left;
}
#slider-pager span {
	width: 100px;
	height: 15px;
	background: #fff;
	display: inline-block;
	border-radius: 30em;
	opacity: 0.6;
}
#slider-pager .rslides_here a {
	background: #FFF;
	border-radius: 30em;
	opacity: 1;
}
#slider-pager a {
	padding: 0;
}
#slider-pager li {
	display: inline-block;
}
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
}
.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    left: 0%;
    top: -125px;
    width: 100%;
}
.rslides li {
	position: relative;
	display: block;
	float: none;
}
.rslides img {
	height: auto;
	border: 0;
}
.callbacks_tabs {
	list-style: none;
	position: absolute;
	top: 80.5%;
	z-index: 999;
	left: 44.5%;
	padding: 0em 0.6em 1em 0.3em;
	margin: 0;
	display:none;
}
.callbacks_tabs li {
	display: inline-block;
	margin: 0.5em;
}
.callbacks_tabs a {
	visibility: hidden;
}
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	width:0;
	height: 0;
	display: inline-block;
	background: #fff;
	border: none;
	border-radius: 50%;
}
.callbacks_here a:after {
	background: #1ca0de;
}
/*-- //Slider --*/

.slider-info {
    text-align: center;
    width: 71%;
    margin: 7% auto 0;
}
.logo {
    padding-top: 13%;
    margin-bottom: 1%;
}
.logo h1 {
    color: white;
    font-size: 2.8em;
    letter-spacing: 7px;
    text-transform: uppercase;
    width: 30%;
    background: #fccb0c;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    padding: 12px 43px;
    margin: 0 auto;
}
.logo a{
	color: white;
}
.logo  a:focus, a:hover {
    color: white !important;
    text-decoration: none !important;
}
.slider-info p {
    color: #fccb0c;
    font-size: 2em;
    letter-spacing: 2px;
    line-height: 2;
    font-weight: 400;
    text-transform: uppercase;
	padding-top: 18px;
}
/* -- navigation --*/
.ban-top-con {
    position: absolute;
    bottom: 9px;
    left: 27%;
}
.navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color:transparent !important;
}
/* --//navigation --*/

/*-- main-content --*/
/*--about--*/
.w3-about{
    padding: 70px 0px;
    text-align: center;
}
.about-head h3 {
	color: #333;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
	font-weight: bold;
	padding-bottom: 12px;
}
.about-head p {
    color: #555;
    font-size: 1.3em;
    letter-spacing: 1px;
    line-height: 2;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 24px;
}
.about-info  img {
    float: left;
    width: 50%;
}
.about-info p {
	float:right;
	width:50%;
	color: #777;
    font-size: 1.1em;
    line-height: 37px;
	text-align: left;
    letter-spacing: 1px;
    padding:30px;
}
/*--//about--*/

/*--services--*/
h3.tittle, h2.tittle-one, h2.tittle-one {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.service-slide {
    background: url(../images/ser.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 607px !important;
	float:right;
}
.service-slide{
	float:right !important;
}
.service-text {
    float: left !important;
}
.service-text {
    padding: 70px 0px;
}
.serve-grids-top {
    text-align: center;
}
.ser-info {
    margin: 44% auto 0;
    border: 3px solid #fff;
    padding: 5em 0em;
    width: 72%;
    text-align: center;
}
h3.tittle, h2.tittle-one.ser {
    margin-bottom: 1em;
}
.ser-info h3 {
    font-size: 1.7em;
    font-weight: 400;
    color: #fff;
}
.ser-info p {
    font-size: 1.3em;
    color: #f44639;
    line-height: 1.8em;
    margin: 2% auto 0;
}
.service-box h5 {
    color: #333;
    font-size: 1.4em;
    font-weight: 400;
    margin: 1.1em 0 0.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.service-box p {
    margin: 0 auto;
    font-weight: 400;
    color: #777;
    font-size: 1.1em;
    line-height: 31px;
    letter-spacing: 1px;
}
.icon i {
    font-size: 3em;
    color: #222;
}
.serve-grids-top.second{
	margin-top:2em;
}
.service {
    background-color: #F1EFEF;
}

/*--services-effects--*/

.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 3em;
}

span.hi-icon {
    color: white;
}
span.hi-icon {
    color: white;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    border: 1px solid white;
    background: #31708f;
    padding: 5px;
}
.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	width:65px;
	height:65px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color:#111;
}

.hi-icon:after {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	speak: none;
	font-size: 24px;
	line-height: 65px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}
@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinAround {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@keyframes spinAround {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@-webkit-keyframes toRightFromLeft {
	49% {
		-webkit-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toRightFromLeft {
	49% {
		-moz-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toRightFromLeft {
	49% {
		transform: translate(100%);
	}
	50% {
		opacity: 0;
		transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-webkit-keyframes toLeftFromRight {
	49% {
		-webkit-transform: translate(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toLeftFromRight {
	49% {
		-moz-transform: translate(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toLeftFromRight {
	49% {
		transform: translate(-100%);
	}
	50% {
		opacity: 0;
		transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@-webkit-keyframes toTopFromBottom {
	49% {
		-webkit-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toTopFromBottom {
	49% {
		-moz-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toTopFromBottom {
	49% {
		transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@-webkit-keyframes toBottomFromTop {
	49% {
		-webkit-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toBottomFromTop {
	49% {
		-moz-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toBottomFromTop {
	49% {
		transform: translateY(100%);
	}
	50% {
		opacity: 0;
		transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
/* Effect 6 */
.hi-icon-effect-6 .hi-icon {
	box-shadow: 0 0 0 2px rgba(252, 203, 12, 0.95);
	/*box-shadow: 0 0 0 2px rgba(244, 71, 57, 0.95);*/
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
	text-decoration: none;
}
.hi-icon-effect-6 .hi-icon:hover {
    background: rgba(252, 203, 12, 0.95);
    color: #FBD92B;
}
.hi-icon-effect-6 .hi-icon:hover:before {
	-webkit-animation: spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}
@media(max-width:320px){
.hi-icon {
    width: 55px;
    height: 55px;
}
.hi-icon:before {
    speak: none;
    font-size: 22px;
    line-height: 55px;
}
}
/*--//services-effects--*/
/*--//services--*/

/*-- team --*/
.team {
    overflow: hidden;
    padding: 60px 0px;
}
.agile_team_grid {
    text-align: center;
    position: relative;
    padding-bottom: 4em;
}
.agile_team_grid h4 {
    font-size: 1.6em;
    color: #f44639;
    margin: 1em 0 .2em;
}
.agile_team_grid h6 {
	color: #777;
    font-size: 1.1em;
    line-height: 30px;
    letter-spacing: 1px;
}
.agile_team_grid p{
	width: 65%;
    margin: 3em auto 0;
    text-align: center;
    line-height: 1.8em;
    color: #999;
}
.ih-item {
	position: relative;
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.ih-item,
.ih-item * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ih-item img {
  width: 100%; 
} 
.ih-item.circle,.ih-item.circle .img {
	position: relative;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.ih-item.circle, .ih-item.circle .img, .ih-item.circle.effect1 .spinner {
    width: 180px;
    height: 180px;
    margin: 0 auto;
}
.ih-item.circle .img:before {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%; 
	border-radius: 50%;
	-webkit-box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3); 
	box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%; 
	border-radius: 50%;
}
.ih-item.circle .info {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%; 
	border-radius: 50%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.ih-item.circle.effect1 .spinner {
    border: 6px solid #f35a5a;
    border-right-color: #DFDFDF;
    border-bottom-color: #DFDFDF;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%; 
    border-radius: 50%;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.ih-item.circle.effect1 .img {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    width: auto;
    height: auto;
}
.ih-item.circle.effect1 .img:before {
	display: none;
}
.ih-item.circle.effect1.colored .info {
	background: #1a4a72;
	background: rgba(26, 74, 114, 0.6);
}
.ih-item.circle.effect1 .info {
	top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
	background: #333333;
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.ih-item.circle.effect1 .info h4 {
    color: #fff;
    position: relative;
    font-size: 1.2em;
    margin: 0 18px;
    padding: 3.3em 0 .5em;
}
.ih-item.circle.effect1 .info p {
	color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 10px;
    font-size: 13px;
    border-top: 1px solid #fff;
    width: 85% !important;
}
.ih-item.circle.effect1:hover .spinner,.agile_team_grid:hover .ih-item.circle.effect1 .spinner{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.ih-item.circle.effect1:hover .info,.agile_team_grid:hover .ih-item.circle.effect1 .info{
  opacity: 1;
}
.social-icons.team-icons {
    float: none;
    padding: 0.7em 1.4em;
    display: block;
    text-align: center;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    position: absolute;
    bottom: -100px;
    text-align: center;
    left: 15%;
}
.social-icons.team-icons ul {
    margin: 0;
}
.social-icons.team-icons ul li a.dott {
    margin: 0;
}
.agile_team_grid:hover .social-icons.team-icons {
    background: #000;
    bottom: 0;
}
.social-icons.team-icons ul li {
    display: inline-block;
    padding: 5px;
    font-size: 18px;
    border: 1px solid white;
    width: 31px;
    height: 33px;
    margin: 3px 6px;
}
.social-icons.team-icons ul li a {
    color: #f44639 !important;
    text-decoration: none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
.social-icons.team-icons ul li a:hover{
	color:white !important;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
h3.agileits-title {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    text-align: center;
    padding-bottom: 48px;
}
/*-- count --*/
.count {
    background: url(../images/c.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 306px;
    padding: 38px 0px;
}
.agile_count_grid {
    left: 7%;
    top: 76px;
}
.agile_count_grid_left{
	float:left;
}
.agile_count_grid_left span{
	color:#fff;
}
.agile_count_grid_left span, .agile_count_grid_right p {
    font-size: 2.1em;
    letter-spacing: 1px;
}
.agile_count_grid_right {
    float: left;
}
.agile_count_grid_right p {
    color: white;
}
.agile_count_grid h3 {
    font-size: 1.3em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    padding: 0.4em 0;
    text-align: center;
    right: 25%;
}
.agile_count_grid h3:after {
    content: '';
    background: #fccb0c;
    height: 3px;
    width: 18%;
    position: absolute;
    left: 39%;
    top: 138%;
}
.agile_count_grid_left span {
    color: #fccb0c;
    top: -50px;
    left: 42px;
}
h3.head {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
	color:#3f51b5;
	margin-bottom: 0.3em;
}
/*-- //count --*/
/*-- //team --*/

/*-- blogs--*/
.agile-blogs{
	background:#eee;
	padding: 70px 0px;
}
.agile-blog1 h2 {
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 48px;
    font-weight: bold;
	color: #333;
}
.agile-blog1 img {
    float: left;
    width: 46%;
    position: relative;
}
.text-w3 {
    float: right;
    width: 47%;
	padding: 20px 0px;
}
.agile-blog1 h6, .agile-blog2 h6 {
    width: 8%;
    padding: 18px 20px;
    background: #f44639;
    color: #fff;
    font-size: 18px;
    position: absolute;
}
.g1 h6{
	top: 412%;
	left: 154px;
}
.g2 h6 {
    left: 82%;
    top: 467%;
}
.g3 h6 {
    left: 154px;
    top: 521%;
}
.g4 h6 {
    left: 82%;
    top: 579%;
}
.text-w3 h4,.text-w3l h4 {
    color: black;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.text-w3 h4 a,.text-w3l h4 a {
    color: #333 !important;
    text-decoration: none;
}
.text-w3 p, .text-w3l p {
    font-size: 1.1em;
    color: #777;
    letter-spacing: 2px;
    line-height: 42px;
    padding-bottom: 33px;
    position: relative;
}
.view {
    font-size: 18px;
    color: white;
    background: #333;
    padding: 18px 28px;
    letter-spacing: 1px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
a.view:hover {
    background:#f44639;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
span.glyphicon.glyphicon-arrow-right {
    font-size: 14px;
    margin-left: 9px;
}
.modal-header h4{
	color: black;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-weight: bold;
}
.modal-header h5 {
    color: #f44639;
    font-size: 1.3em;
    letter-spacing: 1px;
   text-align:center;
}
.modal-header span {
    font-size: 1.1em;
    color: #777;
    letter-spacing: 2px;
    line-height: 33px;
    padding-bottom: 16px;
	display:inline-block;
	margin-top:1em;
}
.modal-header img{
    float: left;
    width: 100%;
}
.text-w3 p:after,.text-w3l p:after {
    content: '';
    background: #f44639;
    height: 3px;
    width: 17%;
    position: absolute;
    bottom: 51%;
}
.text-w3 p:after{
	left: -22%;
	top: 54%;
}
.text-w3l p:after {
    left: 105%;
	top: 52%;
}
.agile-blog2 {
    padding: 51px 0px;
}
.g3.agile-blog1 {
    padding: 26px 0px;
}
.agile-blog2 img {
    float: right;
    width: 46%;
    position: relative;
}
.text-w3l {
    float: left;
    width: 47%;
	padding: 30px 0px;
}
/*-- //blogs--*/

/*-- projects--*/
/*-- chocolate-effects--*/
body{
	margin:0;
	padding:0;
}
#Choco_overlay{
	background: #F05E6B !important;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	display:none;
	padding:0;
	margin:0;
}
#Choco_content{
	display:none;
	width:800px;
	height:600px;
	z-index:1001;
	position:fixed;
	left:50%;
	top:50%;
	margin-left:-400px;
	margin-top:-300px;
	border-top:1px solid transparent;/*Yes, adjust image perfectly at the center of a box, don't know why.*/
}
#Choco_left_arrow{
	float:left;
	background-image:url(../images/left.png)!important;
	background-position:12%;
	left:-20%;
}
#Choco_right_arrow{
	float:right;
	background-image:url(../images/right.png)!important;
	background-position:88%;
	left:20%;
}
.Choco_arrows{
	background-repeat:no-repeat;
	display:none;
	position:relative;
	cursor:pointer;
	width:49%;
	top:-100%;
	height:100%;
	margin-top:-30px;
}
#Choco_container_photo{
	text-align:center;
	width:800px;
	height:600px;
	/*background:url(../images/ajax-loader.gif) center center no-repeat;*/
}
#Choco_container_description{
	padding:0;
	height:26px;
	width:100%;
	color:#FFFFFF;
	font-family:Tahoma;
	clear:both;
	position:relative;
	font-size:12px;
	margin-top:-5px;
	overflow:hidden;
	visibility:hidden;
}
#Choco_container_title{
	float:left;
	padding:5px;
}
#Choco_container_via{
	padding:5px;
	float:right;
}
#Choco_container_via a{
	color:gray;
}
#Choco_container_via a:hover{
	color:white;
	background:gray;
}
#Choco_close{
	width:30px;
	height:25px;
	background-image:url(../images/close.png)!important;
	background-repeat:no-repeat;
	z-index:1002;
	cursor:pointer;
	margin: 0px 0px 15px 0px;
	display:none;
}
#Choco_loading{
	width:9px;
	height:11px;
	background-image:url(../images/loading.gif);
	background-repeat:no-repeat;
	z-index:1002;
	cursor:pointer;
	float:right;
	margin-top:-20px;
	display:none;
}
#Choco_bigImage{
	display:none;
	position:relative;
	width:100%;
	height:100%;
	margin-top:-5px;
}
/*-- //chocolate-effects--*/

/*--project-styling--*/
figure {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
}
figure:hover figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    top: 0;
}
figcaption {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
	top: -100%;
    background: rgba(0,0,0,.5);
    color: #fff;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -o-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
figcaption h3 {
    font-weight: 600;
	font-size:1.7em;
    color: #f44639;
    padding: 10px 20px;
    margin-bottom: 0;
    position: relative;
    left: 100%;
    margin-top: 55px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
}
figcaption p {
    padding: 10px 20px;
    margin-bottom: 0;
    position: relative;
    left: 100%;
    font-size: 0.9em;
    line-height: 2em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    -webkit-transition-delay: 1.3s;
    -moz-transition-delay: 1.3s;
    -o-transition-delay: 1.3s;
    -ms-transition-delay: 1.3s;
    transition-delay: 1.3s;
}
figure:hover h3,figure:hover p {
    left: 0;
}
figcaption a {
    color: #fff;
    border: 2px solid #fff;
    padding: 4px 10px;
    text-decoration: none;
}
figcaption a:hover {
    color: #4f5856;
    background: #fff;
}
.gallery {
    padding: 6em 0;
}
.ga-top{
	margin-bottom:3em;
}
.ga-top h3 {
    text-align: center;
    font-size: 2.5em;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}
.ga-top p {
    color: #777;
    font-size: 1.1em;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: center;
}
/*--//project-styling--*/
/*--filtr-item--*/
.filtr-item {
    padding: 0em;
    width: 33.3335%;
    float: left;
}
.filtr-container {
	width:100%;
}
.item-desc {
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
	z-index: 1;
}
/* Filter controls */
.simplefilter li, .multifilter li, .sortandshuffle li {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1em;
    margin: 0 0.4em;
    letter-spacing: 1px;
    background: #333;
}
.simplefilter li {
    border: 2px solid #333;
}
.simplefilter li.active {
    border: 2px solid #f44639;
    color: #fff;
    background: #f44639;
}
/* Shuffle and sort controls */
select {
    padding: 1rem 1rem;
    text-transform: uppercase;
}
.sortandshuffle .shuffle-btn {
    background-color: #dec800;
}
.sortandshuffle .sort-btn {
    background-color: #de0000;
}
.sortandshuffle .sort-btn.active {
    background-color: #9d0000;
}
/*----*/
.filtr-item {
    transform: scale(1) translate3d(0px, 0px, 0px);
	-o-transform: scale(1) translate3d(0px, 0px, 0px);   
    transition: all 0.5s ease-out 0ms;
	-o-transition: all 0.5s ease-out 0ms;
	transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
}
/*----*/
ul.simplefilter {
    text-align: center;
	margin-bottom: 3em;
}
@media(max-width:991px){
.filtr-item{
	float:left;
	width:33.33%;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 10px 13px;
    font-size: 1em;
}
}
@media(max-width:768px){
.filtr-item{
	float:left;
	width:50%;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 8px 10px;
    font-size: 0.9em;
    letter-spacing: 0px;
}
}
@media(max-width:600px){
.filtr-item {
    padding: 0em;
}
ul.simplefilter {
    margin-bottom: 0em;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    margin-bottom: 1em;
}

}
@media(max-width:414px){
ul.simplefilter {
    margin-bottom: 0em;
}
.filtr-item{
	width:100%;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 4px 4px;
    font-size: 0.8em;
    letter-spacing: 0px;
    margin-bottom: 1em;
}
}
/*--//filtr-item--*/
/*-- //projects--*/

/*-- contact--*/
.w3lcontact {
    padding-bottom: 23em;
    text-align: center;
    background: url(../images/co.jpg) no-repeat fixed;
    background-size: cover;
    position: relative;
}
.contact-mainw3l {
    position: absolute;
    top: 34%;
    width: 71%;
}
.contact-head h4 {
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    font-weight: bold;
	padding: 70px 0px;
}
.mapw3l {
    float: left;
    width: 50%;
}
.mapw3l iframe {
    width: 100%;
    height: 386px;
	border: none;
}
.contact-mainw3l form {
    float: right;
    width: 50%;
	background: #f44639;
    padding: 38px;
}
.contact-mainw3l input[type="text"], .contact-mainw3l input[type="email"] {
    padding: 10px;
    margin: 6px;
    outline: none;
    width: 96%;
    border: none;
    color: #333;
    font-size: 1em;
}
.contact-mainw3l textarea {
    padding: 8px 9px;
    margin: 6px;
    resize: none;
    outline: none;
    width: 96%;
    border: none;
    color: #333;
    font-size: 1em;
    min-height: 8em;
}
.contact-mainw3l input[type="submit"] {
    padding: 14px 42px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 25px 0px 3px;
    background: #333;
    color: white;
    font-size: 1.1em;
    border: none;
    outline: none;
    text-transform: capitalize;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.contact-mainw3l input[type="submit"]:hover {
    background: #fff;
	color:#333;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*-- //contact--*/
/*-- footer--*/
.w3lfooter {
    padding: 8em 0em 3em;
    background: #333;
}
table, td {
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-collapse: collapse;
}
tr td, .sce, td a {
    padding: 13px 64px !important;
    text-align: center;
    font-size: 17px !important;
    line-height: 48px;
	color:#fff;
}
td a{
	color:#f44639;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
td a:hover{
	color:#fff;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
table tr td i {
    font-size: 28px !important;
    color: rgba(255, 255, 255, 0.75);
}
.copyright-agile {
    text-align: center;
    padding: 40px 0px 0px;
}
.copyright-agile  p {
    color: white;
    letter-spacing: 1px;
    font-size: 1.1em;
}
.copyright-agile p a {
    color: white !important;
}
.copyright-agile p a:hover {
    color: rgba(255, 255, 255, 0.75) !important;
}
/*-- //footer--*/

/*--bottom-to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 24px;
	right: 1%;
	overflow: hidden;
	z-index: 999; 
    width: 64px;
    height: 64px;
	border: none;
	text-indent: 100%;
	background: url("../images/arrow-up-.png") no-repeat 0px 0px;
}
#toTopHover {
    width: 64px;
    height: 64px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //bottom-to-top --*/

/*-- Responsive --*/
@media(max-width:1680px){
.g1 h6 {
    top: 545%;
    left: 197px;
}
.g2 h6 {
    left: 81%;
    top: 617%;
}
.g3 h6 {
    left: 197px;
    top: 690%;
}
.g4 h6 {
    left: 81%;
    top: 766%;
}
}
@media(max-width:1600px){
	.g1 h6{
	top: 412%;
	left: 154px;
}
.g2 h6 {
    left: 82%;
    top: 467%;
}
.g3 h6 {
    left: 154px;
    top: 521%;
}
.g4 h6 {
    left: 82%;
    top: 579%;
}
}
@media(max-width:1440px){
.header {
    min-height: 630px;
}
.top-nav {
    left: 4%;
}
.logo h1 {
    width: 23%;
}
.ban-top-con {
    left: 20%;
}
.ser-info {
    margin: 48% auto 0;
}
.g1 h6 {
    top: 534%;
    left: 88px;
}
.agile-blog1 h6, .agile-blog2 h6 {
    width: 9%;
}
.g2 h6 {
    left: 85%;
    top: 607%;
}
.g3 h6 {
    left: 85px;
    top: 679%;
}
.g4 h6 {
    left: 86%;
    top: 755%;
}
.contact-mainw3l {
    width: 79%;
}
}
@media(max-width:1366px){
.logo h1 {
    font-size: 2.2em;
	width:21%;
}
.top-nav {
    width: 81%;
}
.header {
    min-height: 597px;
}
.slider-info p {
    font-size: 1.9em;
}
.logo {
	padding-top: 15%;
    margin-bottom: 2%;
}
.callbacks_nav {
    top: 47%;
}
.ser-info {
    margin: 47% auto 0;
}
.g1 h6 {
    left: 51px;
	top: 529%;
}
.g2 h6 {
    left: 87%;
	top: 601%;
}
.g3 h6 {
    left: 51px;
	top: 675%;
}
.g4 h6 {
    left: 88%;
	top: 750%;
}
 .social-icons.team-icons {
    left: 21%;
}
.contact-mainw3l {
    width: 83%;
}
.agile_count_grid {
    left: 5%;
}
}
@media(max-width:1280px){
.logo {
    padding-top: 12%;
}

@media(max-width:2560px){
.logo h1 {
    width: 12%;
}

.logo h1 {
    width: 22%;
}
.header {
    min-height: 575px;
}
.top-nav {
    width: 84%;
}
.ser-info {
    margin: 55% auto 0;
	padding: 4em 0em;
}
.slider-info p {
    font-size: 1.7em;
    padding-top: 24px;
}
.callbacks_nav {
    left: 38px;
}
.callbacks_nav.next {
    right: 24px;
}
.about-head h3,h3.tittle, h2.tittle-one, h2.tittle-one,h3.agileits-title,.agile-blog1 h2,.ga-top h3,.contact-head h4 {
    font-size: 2.3em;
}
.g1 h6 {
    top: 525%;
    left: 14px;
}
.g2 h6 {
    left: 90%;
    top: 597%;
}
.g3 h6 {
    left: 13px;
    top: 670%;
}
.g4 h6 {
    left: 90%;
    top: 746%;
}
.contact-mainw3l {
    width: 89%;
}
.agile-blog1 h6, .agile-blog2 h6 {
    padding: 18px 15px;
}
}
@media(max-width:1050px){
	.logo h1 {
		width: 38%;
	}
	
	.rslides li {
		top: -106px;
	}
	.navbar-default .navbar-nav > li > a {
		padding: 1.8em 0.4em;
	}
	.header {
		min-height: 470px;
	}
	.service-text {
		padding: 40px 0px;
	}
	.ser-info h3 {
		font-size: 1.5em;
	}
	.ser-info {
		margin: 62% auto 0;
	}
	.agile_count_grid h3 {
		font-size: 1.2em;
		letter-spacing: 2px;
	}
	.about-info p {
		padding: 16px 20px;
	}
	.agile-blog1 h6, .agile-blog2 h6 {
		padding: 18px 11px;
		width: 10%;
		font-size: 17px;
	}
	.text-w3 p, .text-w3l p {
		line-height: 35px;
		padding-bottom: 20px;
	}
	.text-w3 {
		padding: 3px 0px;
	}
	.view {
		padding: 15px 24px;
	}
	.g1 h6 {
		top: 468%;
		left: 14px;
	}
	.g2 h6 {
		left: 88%;
		top: 529%;
	}
	.g3 h6 {
		left: 13px;
		top: 591%;
	}
	.g4 h6 {
		left: 88%;
		top: 655%;
	}
	.agile_count_grid {
		left: 4%;
	}
	.text-w3l {
		padding: 6px 0px;
	}
	.team {
		padding: 40px 0px;
	}
	.w3-about {
		padding: 40px 0px;
	}
	.agile-blogs {
		padding: 40px 0px;
	}
	.gallery {
		padding: 4em 0;
	}
	.contact-head h4 {
		padding: 40px 0px;
	}
}
@media(max-width:1024px){
.logo h1 {
    width: 28%;
}
.header {
    min-height: 451px;
}
.logo {
    padding-top: 14%;
}
.loga h1 {
    width: 34%;
    font-size: 2.4em;
    letter-spacing: 3px;
	padding: 12px 29px;
}
.slider-info p {
    padding-top: 29px;
    font-size: 1.4em;
}
.callbacks_nav {
    top: 44%;
}
.top-nav {
    width: 86%;
    left: -8%;
    bottom: 0%;
}
.w3-about {
    padding: 50px 0px;
}
.about-info p {
    padding: 20px;
	line-height: 34px;
}
.about-head p {
    font-size: 1.2em;
    letter-spacing: 1px;
}
.service-box h5 {
    font-size: 1.3em;
}
.service-text {
    padding: 50px 0px;
}
.service-box h5 {
    margin: 1em 0 0.1em;
}
.service-box p {
    line-height: 27px;
}
.ser-info h3 {
    font-size: 1.5em;
}
.ser-info {
    margin: 68% auto 0;
    padding: 2em 0.2em;
}
.callbacks_nav {
    top: 46%;
}
.callbacks_nav {
    left: 30px;
}
.callbacks_nav.next {
    right: 9px;
}
h3.agileits-title {
    font-size: 2.2em;
}
.agile_team_grid h4 {
    font-size: 1.5em;
}
.agile_team_grid h6 {
    line-height: 27px;
}
.team {
    padding: 50px 0px;
}
.social-icons.team-icons {
    left: 11%;
}
.count {
    padding: 30px 0px;
}
.agile_count_grid h3 {
    letter-spacing: 1px;
	 right: 17%;
}
.count {
    min-height: 284px;
}
.text-w3 h4, .text-w3l h4 {
    font-size: 1.6em;
}
.agile-blogs {
    padding: 50px 0px;
}
.text-w3 {
    padding: 0px 0px;
}
.text-w3 p, .text-w3l p {
    line-height: 32px;
	padding-bottom: 27px;
}
.text-w3 p:after {
    left: -23%;
    top: 45%;
}
.agile-blog1 h6, .agile-blog2 h6 {
    padding: 16px 11px;
    width: 11%;
}
.g1 h6 {
    top: 415%;
    left: 12px;
}
.text-w3l p:after {
    left: 106%;
    top: 39%;
}
.g2 h6 {
    left: 89%;
	top: 468%;
}
.g3 h6 {
    left: 11px;
    top: 523%;
}
.g4 h6 {
    left: 89%;
    top: 581%;
}
.about-head h3, h3.tittle, h2.tittle-one, h2.tittle-one, h3.agileits-title, .agile-blog1 h2, .ga-top h3, .contact-head h4 {
    font-size: 2.1em;
}
.view {
    padding: 15px;
	font-size:17px;
}
.gallery {
    padding: 3em 0;
}
.ga-top {
    margin-bottom: 2em;
}
.contact-mainw3l {
    width: 93%;
}
.contact-head h4 {
    padding: 50px 0px;
}
tr td, .sce, td a {
    padding: 11px 39px !important;
}
.agile_count_grid {
    left: 3%;
}
}
@media(max-width:991px){
.logo h1 {
    width: 41%;
}
ul.nav.navbar-nav.navbar-right {
    margin-left: 4%;
}
.navbar-nav > li {
    margin: 0 0.1em;
}
.top-nav {
    width: 100%;
    left: -7%;
}
.slider-info {
    width: 80%;
}
.callbacks_nav {
    top: 43%;
}
.slider-info p {
    padding-top: 168px;
    font-size: 1.3em;
}
.logo {
    padding-top: 8%;
	margin-bottom:0%;
}
.w3-about {
    padding: 30px 0px;
}
.about-head h3 {
    padding-bottom: 3px;
}
.about-head p {
    letter-spacing: 0px;
    padding-bottom: 20px;
}
.about-info p {
    padding: 3px 20px;
    line-height: 26px;
    letter-spacing: 0px;
}
.service-text {
    float: none !important;
}
.col-md-6.service-box.wow.fadeInDown {
    float: left;
    width: 50%;
}
.service-box.wow.fadeInUp {
    float: left;
    width: 50%;
}
.service-box.wow.fadeInDown {
    float: left;
    width: 50%;
}
.service-box h5 {
    margin: 1em 0 0.4em;
}
.service-slide {
    float: none !important;
}
.rslides li {
    top: -189px;
}
.ser-info {
    margin: 42% auto 0;
    padding: 4em 0.2em;
}
.callbacks_nav {
    top: 45%;
}
.agile_team_grid {
    float: left;
    width: 50%;
}
.social-icons.team-icons {
    left: 25%;
}
.t3,.t4 {
    padding-top: 10px;
}
.agile_count_grid {
    float: left;
    width: 50%;
}
.about-head h3, h3.tittle, h2.tittle-one, h2.tittle-one, h3.agileits-title, .agile-blog1 h2, .ga-top h3, .contact-head h4 {
    font-size: 1.9em;
	letter-spacing:1px;
}
.count {
    min-height: 395px;
	padding: 10px 0px;
}
.agile_count_grid_left span {
    top: -35px;
}
.agile_count_grid h3 {
    right: 31%;
    top: -22px;
}
.agile_count_grid h3:after {
    top: 115%;
}
.c3,.c4 {
    margin-top: 55px;
}
.agile_count_grid {
    left: 14%;
}
.text-w3 {
    width: 49%;
}
.text-w3 h4, .text-w3l h4 {
    font-size: 1.5em;
    letter-spacing: 1px;
}
.text-w3 p, .text-w3l p {
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 24px;
    padding-bottom: 16px;
}
.view {
    font-size: 16px;
    padding: 14px 10px;
    letter-spacing: 0px;
}
.text-w3l {
    width: 49%;
    padding: 0px 0px;
}
.text-w3 p:after {
    left: -20%;
}
.text-w3l p:after {
    left: 102%;
	top: 53%;
}
.agile-blog1 h6, .agile-blog2 h6 {
    padding: 14px 12px;
    width: 11%;
}
.g1 h6 {
    top: 602%;
    left: 73px;
}
.g2 h6 {
    left: 81%;
    top: 650%
}
.g3 h6 {
    left: 72px;
    top: 702%;
}
.g4 h6 {
    left: 81%;
    top: 753%;
}
.w3lcontact {
    padding-bottom: 22em;
}
.contact-head h4 {
    padding: 40px 0px;
}
.contact-mainw3l {
    width: 74%;
	top: 30%;
}
.mapw3l iframe {
    height: 358px;
}
.contact-mainw3l form {
    padding: 33px 14px;
}
.contact-mainw3l textarea {
    min-height: 7.2em;
}
.contact-mainw3l input[type="submit"] {
    padding: 12px 36px;
	font-size:1em;
}
.w3lfooter {
    padding: 6em 0em 3em;
}
tr td, .sce, td a {
    padding: 9px 17px !important;
	font-size: 16px !important;
}
table tr td i {
    font-size: 22px !important;
}
figcaption h3 {
    margin-top: 20px;
}
figcaption p {
    line-height: 1.9em;
}
}
@media (max-width: 800px){
.logo h1 {
    width: 36%;
}
ul.nav.navbar-nav.navbar-right {
    margin-left: 0%;
}
.nav>li>a {
    padding: 10px 7px !important;
}
.navbar-default .navbar-nav > li > a {
    font-size: 1.1em;
}
.hvr-underline-from-center:before {
    height: 3px;
}
.header {
    min-height:366px;
}
.loga h1 {
    width: 39%;
    font-size: 2.1em;
}
.slider-info p {
    padding-top: 125px;
    font-size: 1.1em;
}
.slider-info {
    width: 76%;
}
.about-head h3, h3.tittle, h2.tittle-one, h2.tittle-one, h3.agileits-title, .agile-blog1 h2, .ga-top h3, .contact-head h4 {
    font-size: 1.8em;
    letter-spacing: 1px;
}
.service-text {
    padding: 30px 0px;
}
.service-slide {
    min-height: 565px !important;
}
.rslides li {
    top: -144px;
}
.team {
    padding: 30px 0px;
}
.agile_team_grid h4 {
    font-size: 1.4em;
}
.ser-info p {
    font-size: 1.2em;
}
.agile_count_grid_left span {
    left: 39px;
}
.agile_count_grid h3 {
    right: 32%;
    top: -22px;
}
.social-icons.team-icons {
    padding: 0.6em 1em;
	left: 29%;
}
.social-icons.team-icons ul li {
    padding: 4px;
    font-size: 16px;
    width: 27px;
    height: 27px;
    margin: 3px 4px;
}
.ih-item.circle.effect1 .info h4 {
    font-size: 1.1em;
    padding: 3.6em 0 .5em;
}
h3.agileits-title {
    padding-bottom: 32px;
}
.agile_count_grid_left span, .agile_count_grid_right p {
    font-size: 2em;
    letter-spacing: 0px;
}
.agile_count_grid h3 {
    font-size: 1.2em;
	letter-spacing:0px;
}
.agile-blogs {
    padding: 30px 0px;
}
.agile-blog1 h2 {
    font-size: 2em;
}
.text-w3 {
    width: 48%;
}
.text-w3l {
    width: 48%;
}
.text-w3 p:after {
    left: -22%;
}
.text-w3l p:after {
    left: 104%;
}
.gallery {
    padding: 30px 0px;
}
.ga-top h3 {
    font-size: 2em;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 8px 13px;
}
figcaption h3 {
    font-size: 1.4em;
    margin-top: 26px;
}
figcaption p {
    line-height: 1.7em;
}
.agile_count_grid {
    left: 4%;
}
.contact-mainw3l {
    width: 92%;
	top: 26%;
}
tr td, .sce, td a {
    padding: 9px 17px !important;
}
.count {
    min-height: 372px;
    padding: 0px 0px;
}
.contact-head h4 {
    padding: 30px 0px;
}
.agile-blog1 h6, .agile-blog2 h6 {
    padding: 14px 7px;
    width: 13%;
}
.g1 h6 {
    top: 555%;
    left: 13px;
}
.g2 h6 {
    left: 87%;
    top: 604%;
}
.g3 h6 {
    left: 12px;
    top: 655%;
}
.g4 h6 {
    left: 87%;
    top: 707%;
}
}
@media (max-width: 767px){
.logo h1 {
    width: 55%;
}

ul.nav.navbar-nav.navbar-right {
	margin: 0;
	margin-left: 42%;
}
	.navbar-default .navbar-nav > li > a { 
		text-align: center;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		background: #000;
	}
	.navbar-default .navbar-toggle {
		border-color:#ff8c00;
		background: #f44639;
		margin: 0;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #FFF;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #ff8c00;
	}
	.navbar-default .navbar-nav > li > a:before { 
		width: 0; 
	}
	.navbar-default .navbar-nav > li > a { 
		padding: 0.8em;
	}
	.navbar-nav > li {
		margin: 0;
	}
	.top-nav {
		left: 0%;
	}
	div#bs-example-navbar-collapse-1 {
		background: rgba(0, 0, 0, 0.83);
		margin: 0;
		padding: 0;
		position: absolute;
		width: 100%;
		z-index: 999;
		margin-top: 1.5em;
		text-align: center!important;
	}
	.navbar-default .navbar-nav > li > a:before {
		width: 0;
		display:none;
	}
	.service-slide {
		min-height: 483px !important;
	}
	.g1 h6 {
		top: 532%;
	}
	.g2 h6 {
		top: 581%;
	}
	.g3 h6 {
		top: 637%;
	}
	.g4 h6 {
		top: 692%;
	}
}
@media (max-width: 768px){
.header {
    min-height: 362px;
}
.logo h1 {
    font-size: 2.2em;
    width: 52%;
}
@media (max-width: 768px){
.logo h1 {
    font-size: 2.7em;
    width: 42%;
}
.navbar-nav > li {
    margin: 0 4px 0 0;
}
.nav>li>a {
    padding: 10px 9px !important;
}
.about-head h3 {
    font-size: 1.8em;
	letter-spacing:1px;
}
.top-nav {
    width: 84%;
    left: 0%;
}

h3.tittle, h2.tittle-one, h2.tittle-one {
	margin-bottom: 0.8em;
}
.service-box p {
    line-height: 21px;
}
.service-box h5 {
    font-size: 1.2em;
}
.agile_team_grid h4 {
    font-size: 1.3em;
}
.service-slide {
    min-height: 516px !important;
}
.agile-blog1 h2 {
	font-size: 1.8em;
	letter-spacing:1px;
	padding-bottom: 27px;
}
.text-w3,.text-w3l {
    width: 45%;
}
.agile-blog1 img,.agile-blog2 img{
    width: 49%;
}
.agile_team_grid h6 {
    line-height: 23px;
}
figcaption h3 {
    font-size: 2em;
    margin-top: 48px;
}
figcaption p {
    line-height: 2.2em;
	font-size: 1em;
}
.contact-mainw3l {
    width: 96%;
}
.agile_count_grid {
    left: 2%;
}
.g1 h6 {
    top: 345%;
    left: 7px;
}
.g2 h6 {
    top:377%;
}
.g3 h6 {
    left: 7px;
    top: 413%;
}
.g4 h6 {
    top: 448%;
}
.agile_count_grid h3:after {
    width: 13%;
    left: 43%;
}
.agile-blog1 h6, .agile-blog2 h6 {
    padding: 14px 4px;
    width: 13%;
}
}
@media (max-width: 736px){
.logo h1 {
    width: 55%;
}
.header {
    min-height: 345px;
}
.navbar-nav > li {
    margin: 0;
    width: 100%;
    text-align: center;
}
.slider-info p {
    padding-top: 113px;
}
.slider-info p {
    padding-top: 113px;
}
.rslides li {
    top: -136px;
}
tr td, .sce, td a {
    padding: 9px 12px !important;
}
.slider-info p {
    padding-top: 120px;
}
.agile-blog1 h6, .agile-blog2 h6 {
    font-size: 16px;
	padding: 14px 7px;
    width: 13%;
}
.g1 h6 {
    top: 913%;
}
.g2 h6 {
    top: 997%;
}
.g3 h6 {
    top: 1086%;
}
.g4 h6 {
    top: 1177%;
}
span.glyphicon.glyphicon-arrow-right {
    font-size: 13px;
    margin-left: 7px;
}
.view {
    font-size: 15px;
    padding: 11px 8px;
}
}
@media (max-width: 667px){
.header {
    min-height: 326px;
}
.logo h1 {
    font-size: 2em;
    width: 59%;
}
.slider-info p {
    padding-top: 156px;
}
.nav>li>a {
    padding: 10px 6px !important;
}
.navbar-nav > li {
    margin: 0 0px 0 0;
}
.about-head h3 {
	padding-bottom: 0px;
}
.about-head h3, h3.tittle, h2.tittle-one, h2.tittle-one, h3.agileits-title, .agile-blog1 h2, .ga-top h3, .contact-head h4 {
    font-size: 1.7em;
    letter-spacing: 0px;
}
.about-head p {
    font-size: 1.1em;
	padding-bottom: 16px;
}
.about-info p {
    font-size: 1em;
    line-height: 22px;
    letter-spacing: 0px;
    padding: 2px 20px;
}
.service-box h5 {
    font-size: 1.1em;
    letter-spacing: 0px;
}
.service-box p {
    font-size: 1em;
    line-height: 22px;
    letter-spacing: 0px;
}
.service-slide {
    min-height: 495px !important;
}
.rslides li {
    top: -158px;
}
.rslides li {
    top: -105px;
}
.slider-info {
    margin: 0% auto 0;
}
.slider-info p {
    padding-top: 130px;
}
.agile_team_grid h4 {
    font-size: 1.2em;
}
.agile_team_grid h6 {
    font-size: 1em;
    line-height: 25px;
    letter-spacing: 0px;
}
.social-icons.team-icons ul li {
    padding: 2px;
    font-size: 15px;
    width: 25px;
    height: 25px;
    margin: 4px 3px;
}
.slider-info p {
    padding-top: 130px;
}
.ser-info h3 {
    font-size: 1.4em;
}
.agile-blog1 h2 {
	font-size: 1.7em;
    letter-spacing: 0px;
}
.text-w3 h4, .text-w3l h4 {
    font-size: 1.4em;
    letter-spacing: 0px;
}
.text-w3 p, .text-w3l p {
    font-size: 1em;
    letter-spacing: 0px;
    line-height: 22px;
    padding-bottom: 4px;
}
span.glyphicon.glyphicon-arrow-right {
    font-size: 12px;
    margin-left: 6px;
}
.view {
    font-size: 16px;
    padding: 10px 8px;
}
.ga-top h3 {
	font-size: 1.7em;
    letter-spacing: 0px;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 10px 29px;
	letter-spacing: 1px;
}
.contact-head h4 {
	font-size: 1.7em;
    letter-spacing: 0px;
}
.contact-mainw3l textarea {
    min-height: 6.4em;
}
.contact-mainw3l input[type="submit"] {
    margin: 10px 0px 0px;
}
.mapw3l iframe {
    height: 330px;
}
.contact-mainw3l {
    top: 29%;
}
.w3lfooter {
    padding: 4em 0em 3em;
}
tr td, .sce, td a {
    padding: 9px 15px !important;
	line-height: 34px;
}
.agile-blog1 h6, .agile-blog2 h6 {
    padding: 14px 3px;
    width: 13%;
}
.g1 h6 {
    top: 988%;
}
.g2 h6 {
    top: 1075%;
}
.g3 h6 {
    top: 1168%;
}
.g4 h6 {
    top:1263%;
}
}
@media (max-width: 640px){
.header {
    min-height: 302px;
}
.logo h1 {
    font-size: 2em;
    width: 53%;
    padding: 12px 20px;
}
a.menu__link {
    letter-spacing: 0px;
}
.ser-info {
    padding: 3em 0.2em;
}
.rslides li {
    top: -87px;
}
.slider-info p {
    padding-top: 98px;
}
.w3-about {
    padding: 20px 0px;
}
figcaption h3 {
    font-size: 1.6em;
    margin-top: 30px;
}
figcaption p {
    line-height: 1.9em;
    font-size: 0.9em;
}
agile-blog1 h6, .agile-blog2 h6 {
    padding: 14px 3px;
    width: 13%;
}
.g1 h6 {
    top: 489%;
}
.g2 h6 {
    top: 532%;
}
.g3 h6 {
    top: 579%;
}
.g4 h6 {
    top: 627%;
}
.agile-blog1 h6, .agile-blog2 h6 {
    padding: 14px 3px;
    width: 13%;
	font-size: 15px;
}
.text-w3 p, .text-w3l p {
    line-height: 21px;
    padding-bottom: 2px;
	margin-bottom: 1.2em;
}
.ser-info {
    margin: 34% auto 0;
}
.service-slide {
    min-height: 401px !important;
}
}
@media (max-width: 600px){
.logo h1 {
    font-size: 2.5em;
    width: 41%;
    letter-spacing: 5px;
}
.about-info img {
    width: 100%;
    padding-bottom: 26px;
}
.about-info p {
    font-size: 1em;
    line-height: 27px;
    padding: 8px 25px;
}
.service-slide {
    min-height: 380px !important;
}
.ser-info {
    margin: 35% auto 0;
}
.team, .service-text, .agile-blogs, .gallery {
    padding: 20px 0px;
}
.t3, .t4 {
    padding-top: 16px;
}
.agile_count_grid h3 {
    right: 26%;
}
.agile-blog1 img, .agile-blog2 img {
    width: 100%;
}
.text-w3, .text-w3l {
    width: 100%;
	padding: 24px 8px;
}
.text-w3 p:after, .text-w3l p:after {
    height: 51px;
    width: 3px;
    bottom: 51%;
    top: -92px;
	left: 50%;
}
.text-w3 p, .text-w3l p {
    line-height: 28px;
    padding-bottom: 18px;
}
.view {
    padding: 14px 13px;
}
.agile-blog2 {
    padding: 29px 0px;
}
tr td, .sce, td a {
    padding: 9px 4px !important;
    line-height: 35px;
}
.agile-blog1 h6, .agile-blog2 h6 {
    padding: 12px 4px;
    width: 13%;
    font-size: 13px;
}
.g1 h6 {
    top: 915%;
}
.g2 h6 {
    top: 1094%;
}
.g3 h6 {
    top: 1270%;
}
.g4 h6 {
    top: 1449%;
}
.agile-blog1,.agile-blog2{
    padding: 14px 0px;
}
.g3.agile-blog1 {
    padding: 14px 0px;
}
}
@media (max-width: 568px){
.slider-info p {
    letter-spacing: 1px;
    line-height: 24px;
}
ul.nav.navbar-nav.navbar-right {
    margin-left: 40%;
}
.rslides li {
    top: -85px;
}
.logo h1 {
    font-size: 1.9em;
    width: 53%;
}

@media (max-width: 568px){
.logo h1 {
    font-size: 1.9em;
    width: 37%;
}

.header {
    min-height: 278px;
}
.g1 h6 {
    top: 1278%;
}
.g2 h6 {
    top: 1524%;
}
.g3 h6 {
    top: 1770%;
}
.g4 h6 {
    top: 2014%;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 9px 24px;
}
tr td, .sce, td a {
    font-size: 15px !important;
}
.w3lfooter {
    padding: 3em 0em 2em;
}
.contact-mainw3l {
    top: 25%;
}
}
@media (max-width: 480px){
.logo h1 {
    font-size: 2em;
    width: 43%;
	padding: 12px 15px;
}
.slider-info {
    width: 72%;
}
ul.nav.navbar-nav.navbar-right {
    margin-left: 36%;
}
.slider-info p {
    letter-spacing: 0px;
    line-height: 26px;
	font-size:1em;
}
.header {
    min-height: 274px;
}
.w3-about, .team, .service-text, .agile-blogs, .gallery {
    padding: 10px 0px;
}
.about-head p {
    font-size: 1em;
}
.about-head h3, h3.tittle, h2.tittle-one, h2.tittle-one, h3.agileits-title, .agile-blog1 h2, .ga-top h3, .contact-head h4 {
    font-size: 1.6em;
}
.about-info p {
    width: 100%;
}
.about-info img {
    padding-bottom: 11px;
}
.service-box.wow.fadeInUp {
    padding-bottom: 21px;
}
.service-slide {
    min-height: 322px !important;
}
.service-slide {
    min-height: 322px !important;
}
.ser-info h3 {
    font-size: 1.1em;
}
.ser-info {
    margin: 41% auto 0;
}
.social-icons.team-icons {
    left: 19%;
}
.agile_count_grid h3 {
    right: 19%;
}
.agile_count_grid h3:after {
    width: 19%;
    left: 39%;
}
.agile-blog1 h2 {
    padding-bottom: 9px;
}
figcaption h3 {
    font-size: 1.5em;
    margin-top: 10px;
}
figcaption p {
    font-size: 0.8em;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 8px 10px;
}
.mapw3l {
    width: 100%;
}
.contact-mainw3l form {
    width: 100%;
}
.mapw3l iframe {
    height: 293px;
}
.contact-mainw3l form {
    padding: 19px 14px;
}
.contact-head h4 {
    padding: 13px 0px;
}
.contact-mainw3l {
    top: 19%;
	width: 93%;
}
tr td, .sce, td a {
    padding: 9px 3px !important;
    line-height: 31px;
}
.w3lfooter {
    padding: 23em 0em 2em;
}
.copyright-agile p {
    font-size: 1em;
    line-height: 28px;
}
.agile-blog1 h6, .agile-blog2 h6 {
    padding: 12px 1px;
    width: 15%;
    font-size: 13px;
}
.g1 h6 {
    top: 532%;
}
.g2 h6 {
    top: 631%;
	left: 84%;
}
.g3 h6 {
    top: 728%;
}
.g4 h6 {
    top: 828%;
	left: 84%;
}
}
@media (max-width: 414px){
.logo h1 {
    font-size: 1.7em;
    width: 66%;
}
.callbacks_nav {
    left: 24px;
    top: 44%;
}
.callbacks_nav.next {
    right: 0px;
}
.slider-info {
    width: 74%;
}
.slider-info p {
    line-height: 28px;
}
.service-box p {
    font-size: 0.9em;
}
.about-info p {
    font-size: 0.9em;
    padding: 3px 25px;
}
.ser-info {
    padding: 2em 0.2em;
}
.ser-info h3 {
    font-size: 1.1em;
}
.service-slide {
    min-height: 272px !important;
}
.ser-info {
    margin: 45% auto 0;
}
.agile_team_grid h6 {
    font-size: 0.9em;
}
.agile_team_grid {
    width: 100%;
}
.social-icons.team-icons {
    left: 32%;
}
.agile_team_grid:nth-child(2), .agile_team_grid:nth-child(3), .agile_team_grid:nth-child(4) {
    top: 12px;
}
.agile_team_grid:nth-child(4) {
    margin-bottom: 20px;
}
.agile_count_grid h3 {
    right: 9%;
	font-size:1.1em;
}
figcaption h3 {
    font-size: 2em;
    margin-top: 37px;
}
figcaption p {
    font-size: 1em;
}
figcaption p {
    line-height: 2.4em;
}
.agile-blog1 h6, .agile-blog2 h6 {
    padding: 12px 3px;
    width: 18%;
    font-size: 13px;
}
.g1 h6 {
    top: 561%;
}
.g2 h6 {
    top: 644%;
    left: 81%;
}
.g3 h6 {
    top: 726%;
}
.g4 h6 {
    top: 811%;
    left: 81%;
}
.contact-mainw3l {
    width: 92%;
}
tr td, .sce, td a {
    padding: 9px 3px !important;
	font-size: 14px !important;
}
.copyright-agile {
    padding: 20px 0px 0px;
}
.copyright-agile p {
    line-height: 30px;
}
.agile-blog1, .agile-blog2, .g3.agile-blog1 {
    padding: 7px 0px;
}
}
@media (max-width: 384px){
.logo h1 {
    font-size: 1.7em;
    width: 71%;
}
.navbar-default .navbar-nav > li > a {
    font-size: 1em;
}
.ser-info h3 {
   line-height: 20px;
}
.ser-info {
    padding: 1em 0.2em;
	margin: 40% auto 0;
}
.rslides li {
    top: -75px;
}
.agile_count_grid h3 {
    font-size: 1em;
}
.agile_count_grid_left span, .agile_count_grid_right p {
    font-size: 1.8em;
    margin-right: 9px;
}
.text-w3 p, .text-w3l p {
    padding-bottom: 10px;
	font-size: 0.9em;
	line-height: 25px;
}
.view {
    padding: 12px 7px;
	font-size:15px;
}
.agile-blog1 h6, .agile-blog2 h6 {
    padding: 12px 4px;
    width: 20%;
}
.g1 h6 {
    top: 615%;
}
.g2 h6 {
    top: 697%;
    left: 79%;
}
.g3 h6 {
    top: 776%;
}
.g4 h6 {
    top: 859%;
    left: 79%;
}
}
@media (max-width: 375px){
.logo h1 {
    font-size: 1.6em;
    width: 69%;
	padding: 12px 12px;
}
.slider-info p {
    padding-top: 85px;
	font-size: 0.9em;
}
.slider-info {
    width: 78%;
}
.header {
    min-height: 257px;
}
.col-md-6.service-box.wow.fadeInDown {
    width: 100%;
}
.service-box.wow.fadeInUp {
    width: 100%;
}
.service-box p {
    font-size: 1em;
	margin-bottom: 20px;
}
.serve-grids-top.second {
    margin-top: 0em;
}
.service-box.wow.fadeInUp {
    padding-bottom: 0px;
}
.rslides li {
    top: -71px;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 8px 7px;
}
.copyright-agile p {
    letter-spacing: 0px;
}
.text-w3 p:after, .text-w3l p:after {
    top: -85px;
}
.g1 h6 {
    top: 663%;
}
.g2 h6 {
    top: 748%;
}
.g3 h6 {
    top: 830%;
}
.g4 h6 {
    top:915%;
}
}
@media (max-width: 320px){
.logo h1 {
    font-size: 1.4em;
    width: 51%;
}
@media (max-width: 240px){
.logo h1 {
    font-size: 0.8em;
    width: 51%;
}
.slider-info p {
    padding-top: 74px;
	line-height: 26px;
	font-size: 0.85em;
}
.slider-info {
    width: 74%;
}
ul.nav.navbar-nav.navbar-right {
    margin-left: 28%;
}
.about-info p {
    font-size: 0.9em;
    padding: 3px 2px;
}
.service-slide {
    min-height: 225px !important;
}
.ser-info h3 {
    font-size: 0.9em;
}
.ser-info p {
    font-size: 1em;
}
.ser-info {
    margin: 47% auto 0;
}
.agile_count_grid h3 {
    font-size: 0.8em;
	right:-3%;
}
.count {
    min-height: 340px;
}
.text-w3 p:after, .text-w3l p:after {
    top: -84px;
    height: 37px;
}
.simplefilter li, .multifilter li, .sortandshuffle li {
    padding: 7px 4px;
	margin: 0 0.2em;
}
figcaption h3 {
    font-size: 1.6em;
    margin-top: 20px;
}
figcaption p {
    font-size: 0.9em;
	line-height:2em;
}
tr td, .sce, td a {
    padding: 9px 0px !important;
    font-size: 13px !important;
}
.rslides li {
    top: -62px;
}
.w3lfooter {
    padding: 23em 0em 1em;
}
.social-icons.team-icons {
    left: 28%;
}
.social-icons.team-icons {
    left: 28%;
}
.agile-blog1 h6, .agile-blog2 h6 {
    padding: 12px 3px;
    width: 24%;
}
.g1 h6 {
    top: 771%;
}
.g2 h6 {
    top: 868%;
	left: 75%;
}
.g3 h6 {
    top: 964%;
}
.g4 h6 {
    top: 1061%;
	left: 75%;
}
ul.simplefilter {
    margin-bottom: 1em;
}
}
/*-- //Responsive --*/